@font-face {
  font-family: 'Steinbeck';
  src: url('../fonts/SteinbeckRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('../fonts/SteinbeckItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  overflow-x: hidden;
}


h1 {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
}

.main {
  padding: 0px, 60px;
  background: #CACC4E;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 60px 50px 0px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar p a img {
  height: 70px;
}

.navbar .cta_button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navbar .cta_button a {
  font-family: Steinbeck;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
  border: 1px solid #233363;
  border-radius: 40px;
  color: #233363;
  margin: 0px 20px;
}

.main .features {
  display: flex;
  margin-left: 172px;
  height: 80vh;
}

.main .features h1 {
  color: #233363;
  width: 973px;
  align-self: center;
}

/* Возможности организаций */
.capabilities {
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: #233363;
  padding-bottom: 130px;
}

.capabilities h1 {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
  color: #FAF19D;
  margin-top: 150px;
  margin-left: 10vw;
  margin-bottom: 40px;
}

.capabilities p {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105%;
  color: #FAF19D;
  margin-left: 10vw;
  width: 50vw;
  margin-bottom: 60px;
}

.capabilities .we_logo_icn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10vh;
  margin-left: 10vw;
}

.capabilities .we_logo_icn div img {
  vertical-align: middle;
}

.capabilities .we_logo_icn div img:nth-child(2), .capabilities .we_logo_icn div img:nth-child(3) {
  padding-left: 70px;
}

/* Что нужно сделать? */
.what_to_do {
  display: flex;
  flex-direction: column;
  height: 210vh;
  background: #F68E5F;
  padding-bottom: 50px;
}

.what_to_do p:nth-child(1) {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-left: 10vw;
  line-height: 105%;
  color: #233363;
  margin-top: 150px;
  margin-bottom: 60px;
}

.what_to_do .registration, .what_to_do .publish, .what_to_do .candidates {
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}

.what_to_do .registration .registration_about h1, .what_to_do .publish .publish_about h1, .what_to_do .candidates .candidates_about h1 {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
  color: #233363;
  margin-left: 10vw;
  padding-bottom: 40px;
  width: 40vw;
}

.what_to_do .registration .registration_about p, .what_to_do .publish .publish_about p, .what_to_do .candidates .candidates_about p {
  font-family: Basis Grotesque Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105%;
  color: #233363;
  margin-left: 10vw;
  width: 40vw;
}

.what_to_do img {
  height: 450px;
  margin-left: 10vw;
}

.what_to_do .publish img {
  margin-left: -50vw;
}

/* Членство */

.membership {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  background: #FAF19D;
  padding-bottom: 50px;
  align-items: center;
}

.membership .price {
  background: #233363;
  border-radius: 20px;
  height: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10vw;
  margin-right: 80px;
}

.membership .price h1 {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
  color: #FAF19D;
  text-align: center;
  padding: 50px;
}

.membership .what_get {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.membership .what_get .what_get_about p:nth-child(1) {
  margin-bottom: 60px;
  width: 30vw;
}

.membership .what_get .what_get_about p {
  font-family: Basis Grotesque Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 105%;
  color: #233363;
  margin-bottom: 25px;
}

.membership .what_get .ready_btn {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 20vw;
}

.membership .what_get .ready_btn a {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
  border: 1px solid #233363;
  border-radius: 40px;
  color: #233363;
  margin: 0px 20px;
}


/* CTA */
.call_to_action {
  background: #233363;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call_to_action h1 {
  color: #FAF19D;
  margin-left: 10vw;
  margin-bottom: 100px;
  width: 700px;
}

.call_to_action p {
  color: #FAF19D;
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  margin-left: 10vw;
  margin-bottom: 100px;
  width: 700px;
  font-size: 25px;
  line-height: 105%;
}

.call_to_action .cta_button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 20vw;
}

.call_to_action .cta_button a {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
  border: 1px solid #FAF19D;
  border-radius: 40px;
  color: #FAF19D;
  margin: 0px 20px;
}

/* Футер */
footer {
  background: #233363;
  height: 95vh;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .write_us {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

footer .write_us p {
  color: #FAF19D;
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  margin-bottom: 100px;
  width: 700px;
  font-size: 25px;
  line-height: 105%;
}

footer .write_us a {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
  border: 1px solid #FAF19D;
  border-radius: 40px;
  color: #FAF19D;
  margin: 0px 20px;
}

footer .main_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .main_links .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}
footer .main_links .navigation .service_navigation, footer .main_links .navigation .navigation_contacts, footer .main_links .navigation .navigation_s_network {
  display: flex;
  flex-direction: column;
}

footer .main_links .navigation p {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  color: rgba(250, 241, 157, 0.6);
}

footer .main_links .navigation a {
  padding-top: 20px;
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  color: #FAF19D;
  text-decoration: none;
}

footer .main_links .contact_form {
  display: flex;
  flex-direction: column;
}

footer .main_links .contact_form h3 {
  font-family: 'Basis Grotesque Pro';
  width: 427px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105%;
  color: #FAF19D;
  margin-bottom: 40px;
}

footer .main_links .contact_form .contact_form_email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background: #FAF19D;
  border: 1px solid #FAF19D;
  border-radius: 40px;
}

footer .main_links .contact_form .contact_form_email p input {
  background: #FAF19D;
  font-family: Steinbeck;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: rgba(35, 51, 99, 0.5);
  border: none;
}

footer .main_links .contact_form .contact_form_email p #subscriber_email:focus {
  outline: none;
}

footer .footer_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

footer .footer_data p {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 105%;
  color: rgba(250, 241, 157, 0.6);
}
